.navbar {
    z-index: 1;
}
.navbar .container {
    border-bottom: 1px solid #ccc;
    padding: .25rem;
}
.content {
    padding: 6rem 0;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.avatar {
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 200px;
}
.subtitle {
    color: #6c757d;
    font-weight: 300;
    margin: 2rem 1.5rem;
}
.is-4 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.btn {
    margin: .5rem;
}
.btn svg {
    margin-right: .5rem;
}
.card-body .img-fluid {
    padding-bottom: 1.25rem;
}
.is-card:hover {
    text-decoration: none;
}
.is-card:hover .card-title span:first-child {
    text-decoration: underline;
}
@media (min-width: 768px) {
    .content {
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-expand .navbar-nav .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}